compressai==1.2.6
einops==0.8.2
hdmf==6.1.0
numpy==2.4.4
onnx==1.22.0
onnxconverter-common==1.16.0
pynwb==4.0.0
py7zr==1.0.0
PyYAML==6.0.3
pytorch-msssim==1.0.0
tensorrt-cu12==11.2.1.2
tifffile==2026.5.2
tqdm==4.67.3
